
.List {
    background-color: green;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

.List:hover {
    cursor: pointer;
    background-color: #007a04;
}

.List p {
    padding: auto 20px;
}